<div class="login">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div class="relative">
    <app-overlay *ngIf="isLoading"></app-overlay>
    <mat-card>
      <h2 class="mb-0">Sign in</h2>

      <form [formGroup]="login" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="login.get('email').hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="login.get('email').hasError('email')"
            >Invalid email address</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error *ngIf="login.get('password').hasError('required')"
            >Password Required</mat-error
          >
          <mat-error *ngIf="login.get('password').hasError('minlength')"
            >Password should be minimum 8 character</mat-error
          >
        </mat-form-field>

        <a routerLink="/auth/forgotPassword">forgot password? </a>
        <div class="login-account">
          <a mat-button color="primary" routerLink="/auth/register">
            Create Account
          </a>
          <button mat-raised-button type="submit" color="primary">Login</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
