.login {
  max-width: 400px;
  margin: 40px auto;
}
.auth-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.login-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-left: -15px;
}
mat-card {
  padding: 36px;
}
a{
  color: var(--primary);
}