<mat-toolbar>
  <div class="brand-header">
    <p (click)="drawer.toggle()" *ngIf="isMobile">
      <mat-icon
        svgIcon="bar"
        aria-hidden="false"
        aria-label="toggle bar"
      ></mat-icon>
    </p>
    <h1 routerLink="/">LOGO</h1>
    
  </div>
  <ul>
    <li *ngIf="!user" >
      <a routerLink="/abha/card" mat-button>AbhaCard</a>
    </li>
    <div *ngIf="user">
      <li class="profile" [mat-menu-trigger-for]="profile">
        <img
          [src]="user.image"
          onerror="this.onerror=null; this.src= '../assets/default-profile.png'"
        />
      </li>

      <mat-menu #profile="matMenu">
        <button mat-menu-item routerLink="/auth/profile/">
          <mat-icon>account_circle</mat-icon>
          <span> profile </span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span> Logout </span>
        </button>
      </mat-menu>

    </div>

    <li *ngIf="!user">
      <button mat-button routerLink="/auth/login">Login/Register</button>
    </li>
  </ul>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="isMobile">
  <mat-drawer #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
