mat-drawer-content{
  /* background-color: #e7e7e7; */
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding-left: 0;
  justify-content: center;
  line-height: 1;
  align-items: center;
}
mat-drawer-container {
  height: calc(100vh - 64px);
}
.profile {
  font-size: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
}
a {
  font-size: 15px ;
}
.profile img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid gray;
}

.profile p {
  margin-bottom: 0;
  font-weight: 400;
  color: rgb(112, 109, 109);
}
.mat-menu-item .mat-icon {
  margin-right: 8px;
}
mat-toolbar {
  justify-content: space-between;
  line-height: 1;
}
.brand-header {
  display: flex;
  align-items: center;
}
